[Unit]
Description=Restart hyperboria on resume from sleep
After=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart hyperborians

[Install]
WantedBy=sleep.target
