/build_android
/build_linux
/build_freebsd
/build_openbsd
/build_win32
/build_darwin
/build_sunos
/node_android
/node_linux
/node_freebsd
/node_openbsd
/node_win32
/node_darwin
/node_sunos
/benc2json*
/hyperboria-route*
/cleanconfig*
/privatetopublic*
/publictoip6*
/sybilsim*
/makekeys*
/mkpasswd*
/randombytes*
/testhyperboria-route*
*.pyc
.clang_complete
*~
.DS_Store
/node_modules/jshint
/node_modules/.bin
/contrib/docker/hyperboria*/
.vscode

# autotools products
/aclocal.m4
/autom4te.cache/
/configure
/configure~*
/config.h
/config.h.in
/config.log
/config.status
/compile
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h1
/Makefile
/Makefile.in
.deps/
.libs/
.dirstamp
*.lo
*.la
*.o
*.a
/libtool
/build-aux/

# vendored libuv build products
/libuv/autom4te.cache/
/libuv/aclocal.m4
/libuv/configure
/libuv/Makefile
/libuv/Makefile.in
/libuv/.deps/
/libuv/.libs/
/libuv/*.lo
/libuv/*.la
/libuv/config.h
/libuv/config.h.in
/libuv/config.log
/libuv/config.status
/libuv/libtool
/libuv/include/uv-private/uv-unix.h.tmp